@import "tailwindcss";

.material-symbols-outlined {
  font-size: inherit !important;
}

input:focus {
  outline: #38a169 auto;
}

.cookieComponent {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
